*.ncb
*.opt
*.tlh
*.tli
*.aps
*.clw
*.plg
*.tlb
dlldata.c
WineApi.h
WineApi_i.c
WineApi_p.c
WineApips.def
WineApips.mk
Debug
Release
Notes
*.sdf
*.suo
*.opensdf
ipch
*.vcxproj.filters
*.vcxproj.user
lib/boost_1_47_0
